.Dog-poster{
  width: 160px;
  height: 160px;
  top: 596px;
  left: 460px;

}

.image-gallery{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 40%;
  /* border: 1px solid black; */
  padding-left: 20px;
  padding-top: 20px;
}

.master-container{


  display: flex;
 justify-content: center;
 
}


.container{

  text-align: center;
  justify-content: center;
  /* background-color: aquamarine; */

}

.finalpic{

  width: 160px;
  height: 160px;
  top: 596px;
  left: 460px;

}

.imagesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 40%;
  
  

}